<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">#2 Meetup Maringá - DevParaná</h1>
        <form class="navbar" novalidate>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
                <input type="text" ng-model="search" class="form-control" placeholder="Nome, e-mail ou identificação do meetup.com" aria-describedby="basic-addon1">
            </div>
        </form>
    </div>   
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in ctrl.users | filter: search">
                    <td ng-bind="user.Nome"></td>
                    <td ng-bind="user.Email"></td>
                    <td>
                        <button type="button" class="btn btn-default btn-xs" ng-click="ctrl.certificate(user)">
                            Gerar certificado
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>   
</div>
