body { background: rgb(204,204,204); }

page[size='A4'] {
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  box-sizing: border-box;
}

@media print {
  body,
  page[size='A4'] {
    margin: 0;
    box-shadow: 0;
    background: url(../images/background.png);
    background-size: cover;
  }
}